<div class="wl-header">
    <div class="wl-layout-container container">
        <div class="row">
            <div class="wl-header-wrapper col-xs-12">
                <a class="wl-header-brand" href="<?= U('Home/Index/index'); ?>" title="返回首页"><img src="__PUBLIC__/Home/images/headerImg/logo.png" alt="返回首页"></a>
                <div class="wl-header-links">
                    <div class="wl-header-links__wrapper">
                        <a class="project_code" href="http://www.chaindc.com/index.php/Home/index/codeStatus" target="_blank"><span><div class="hidden-xs ratingDrop">项目进度</div></span></a>
                        <div class="wl-header-links__link wl-header-links__link--rating">
                            <div class="hidden-xs ratingDrop">评级模型</div>
                            <div class="ratingBox">
                                <span class="ratingArrow"></span>
                                <ul class="ratingContent">
                                    <li><a href="#/growUp1">ChainDC萌芽版 V1.0</a></li>
                                    <li><a href="#/growUp2">ChainDC成长版 V1.0</a></li>
                                    <!--<li><a href="#/growUp3">ChainDC成长版 V3.0</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <a class="wl-header-links__link wl-header-links__link--services" href="#/services">
                            <div class="hidden-xs">服务</div>
                        </a>
                        <a class="wl-header-links__link wl-header-links__link--about" href="#/about">
                            <div class="hidden-xs">关于我们</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>