/*search box*/
.wl-project-filter{
    float: right;
}
@media only screen and (min-width: 768px)
{
    .wl-project-tabs {
        float: right;
        text-align: right;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 768px)
{
    .wl-project-tabs {
        font-size: 0;
    }
    h2 {
        color: #727272;
        font: bold 13px 'RobotoBold', sans-serif;
        margin: 9px 0;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.wl-project-tab:last-child {
    border-right: 1px solid #02c39a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media only screen and (min-width: 768px)
{
    .wl-project-filter {
        padding-left: 15px;
        padding-right: 15px;
    }
    .select2-container{
        margin-left: 15px;
    }
}

.wl-project-filter {
    margin: 0;
    padding: 10px 0;
    display: inline-block;
    border:none;
    outline:none;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 2px 1px;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.select2-container--wl .select2-selection--single {
    background: no-repeat 16px center url("../images/indexImg/search.jpg");
    line-height: 28px;
    padding:0 0 0 40px;
    /*outline:none;*/
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 42px;
    user-select: none;
    border: 1px solid #a6e1ec;
    -webkit-user-select: none;
    width: 390px;
}

.select2-selection__placeholder{
    font: 400 14px 'Roboto', sans-serif;
    line-height: 42px;
    color: #727272;
    width: 100%;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    line-height: 28px;
    border: none;
}

.wl-project-tab.active {
    color: #ffffff;
    background-color: #02c39a;
}
.wl-project-tab:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wl-project-tab {
    border: 1px solid #02c39a;
    border-right: 0;
    cursor: pointer;
    font: 500 12px 'RobotoLight', sans-serif;
    display: inline-block;
    line-height: 42px;
    height: 42px;
    width: 25%;
    color: #02c39a;
    text-align: center;
    font-size: 14px;
}
@media only screen and (min-width: 768px)
{
    .wl-project-tab {
        width: 115px;
        height: 42px;
    }
}
@media only screen and (min-width: 768px)
{
    h2 {
        font: bold 20px 'RobotoBold', sans-serif;
        margin: 16px 0;
        text-transform: inherit;
        color: #727272;
        font-size: 17px;
    }
}

/*Tab切换菜单部分*/

.tab-list>span{
    font-size: 17px;
    font-weight: bold;
}
@media only screen and (min-width: 768px)
{
    .wl-projects-table {
        margin-top: 10px;
    }
}
.wl-projects-table {
    text-align: left;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 3px 33px 0 rgba(0, 0, 0, 0.05);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr:nth-child(even){
    background: #f6fafd;
}
tbody tr:hover{
    background:rgba(56, 118, 29, .1)
}

.wl-projects-table__head {
    background-color: #f6fafd;
    color: #f6fafd;
    font: bold 10px 'RobotoBold', sans-serif;
    text-transform: uppercase;
}
.wl-projects-table__row {
    border: 1px solid #eaeaea;
}

.wl-projects-table .wl-project-name, .wl-projects-table .wl-projects-table__name-info {
    width: 15%;
    text-align: left;
}
.wl-projects-table__head th {
    background: no-repeat center right 10px;
    padding: 10px;
    color: #4d555d;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
@media only screen and (min-width: 768px)
{
    .wl-projects-table__info {
        white-space: nowrap;
    }
}

.wl-projects-table__icon, .wl-projects-question__icon {
    content: '';
    background: no-repeat center right url("../images/about-icon-small.png");
    background-size: contain;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    top: -1px;
}

[class^='wl-projects-table__body'] {
    color: #556367;
    font-size: 12px;
}
.wl-projects-table tbody td {
    padding: 15px 10px;
}
.wl-project-name {
    background: no-repeat 10px center;
    background-size: 40px;
    color: #677174;
    font: bold 14px 'RobotoBold', sans-serif;
    padding-left: 64px !important;
    width: 14%;
}

.wl-project-hypeScore {
    width: 10%;
}
.wl-project-hypeScore, .wl-project-riskScore, .wl-project-investScore,.wl-project-date,.wl-project-price{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color:#6aa84f;
}
.wl-project-riskScore {
    width: 10%;
}

.wl-project-rating {
    color:#6aa84f;
    line-height: 20px;
    width: 1%;
}
.js-sort-table_price{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and(min-width: 768px) {
    .wl-projects-table .wl-project-name,.wl-projects-table .wl-projects-table__name-info {
        width: 17%;
        text-align: left;
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.wl-projects-table .wl-project-name,.wl-projects-table .wl-projects-table__name-info {
    width: 12%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 768px)
{
    .wl-project-date {
        font-size: 12px;
    }
}
.wl-project-date {
    width: 1%;
}
.wl-project-wrapper {
    overflow: hidden;
}
.wl-project-price{
    overflow: hidden;
    padding: 10px 10px;
}
.wl-project-price img{
    width: 100%;
}
.wl-projects-table .wl-project-investScore .wl-project-wrapper {
    width: 100%;
    text-align: center;
}
.wl-project-investScore__value {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.wl-projects-table .wl-project-rating .wl-project-wrapper {
    width: 100%;
}
@media only screen and (min-width: 768px)
{
    .wl-project-investScore__score, .wl-project-rating__score {
        float: right;
        width: 0;
    }
}
.wl-project-rating__score {
    display: inline-block;
    position: relative;
}
.wl-project-whiteBook{
    background-image:url("../images/rating.png");
}
.wl-project-whiteBook{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #9C994E;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top:-6px;
    margin-left:5px;
    border-radius: 2px;
    color:#d4d4d4;
}
.wl-project-whiteBook:hover{
    cursor: default;
}
.wl-project-rating .wl-project-wrapper {
    white-space: nowrap;
    height: 100%;
}
@media only screen and (min-width: 768px)
{
    .wl-project-rating__score:before {
        position: relative;
        right: 18px;
    }
}
.wl-project-rating__score:before {
    content: '';
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.wl-project-date__start, .wl-project-date__end {
    font: 500 12px 'RobotoBold', sans-serif;
    white-space: nowrap;
}
.wl-project-rating{
    font-size: 12px;
    text-align: center;
}
.wl-project-rating__value {
    display: inline-block;
    /*margin-right: 10px;*/
    vertical-align: middle;
    position: relative;
}

.wl-project-links {
    width: 12%;
    padding: 10px;
    cursor: default;
}
.wl-project-link {
    background: #d4d4d4 no-repeat center;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    position: relative;
    vertical-align: middle;
    float: left;
    background-size: contain;
}
.wl-project-link:hover{
    transform: scale(1.2);
}
.wl-project-logo .logoManage{
    text-align: center;
    font-size: 14px;
}

/*点击搜索的下拉框*/
.select_box{
    font-family: inherit;
    font-size: 16px;
    position: absolute;
    background: #fff;
    z-index: 9999;
    width: 390px;
    top:42px;
}
.search_options_box{
    display: block;
    outline: 1px solid #c9c9c9;
}
.search_input{
    width: 390px;
}
.search_input input{
    width: 100%;
    border: none;
    padding: 6px;
    font-size: 20px;
}
.search_input input:focus{
    outline: none;
}
.search_input_focus::-webkit-search-cancel-button{
    display: none;
}
.search_results{
    display: block;
    margin: 4px 4px 4px 0;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.select-results_options{
    margin: 0;
    padding: 0;
}
.select-results_option{
    border-top:1px solid #eee;
    cursor: pointer;
    padding:6px;
}
.search-result_item{
    display: table;
    width: 100%;
}
.search-result_item_logo,.search-result_item_text{
    display: table-cell;
    vertical-align: middle;
}
.search-result_item_logo{
    background: no-repeat top center;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.search-result_item_text{
    padding-left: 8px;
}
.search-result_item_text-name{
    font-weight: bold;
}
.search-result_item_text-category{
    color: #868686;
    font-size: 12px;
}
.select-results_option_bgColor{
    background: #f6fafd;
}
.searchFail{
    border-top: 1px solid rgba(0,0,0,.2);
    line-height: 30px;
    padding: 