html {
    position: relative;
    height: 100%;
    overflow-x:hidden;
}
body {
    font: normal 14px 'Roboto', sans-serif;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
ul,ol{
    list-style: none;
}
/* .wl-layout*/
.wl-layout {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.wl-content{
    background: #f1f1f1;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.05), inset  7px 36px 0 rgba(241, 241, 241, 0.62);
}
.mainCon{
    padding-bottom: 80px;
}
/*wl-header*/
.wl-header {
    background-color: #161616;
    color: #92a3b7;
}
.wl-header-wrapper {
    height: 100px;
}
.wl-header-brand img{
    height: 40px;
}
.wl-header-brand:hover,
.wl-header-brand:focus {
    color: inherit;
    text-decoration: none;
}
.wl-header-brand:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.wl-header-brand__wrapper {
    display: inline-block;
    vertical-align: middle;
}
.wl-header-brand__name {
    color: #fff;
    font: 14px "Futura Medium BT", "Trebuchet MS", Arial, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.wl-header-brand__stage {
    color: inherit;
    font: bold 10px 'RobotoBold', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.wl-header-description {
    font-size: 13px;
    overflow: hidden;
    height: inherit;
    text-transform: uppercase;
}
.wl-header-description:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.wl-header-description__wrapper {
    border-left: 2px solid currentColor;
    padding-left: 28px;
    display: inline-block;
    vertical-align: middle;
}
.wl-header-description__line {
    line-height: 14px;
}
.wl-header-description__line:first-child {
    color: #00C0aa;
}
.wl-header-links {
    float: right;
    height: inherit;
}
.wl-header-links:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.wl-header-links__wrapper {
    display: inline-block;
    vertical-align: middle;
}
.wl-header-links__link,.project_code{
    background: no-repeat center;
    color: transparent;
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
}
.wl-header-links__link--about {
    background-image: url("../images/about-icon.png");
}
.wl-header-links__link--services {
    background-image: url("../images/services-icon.svg");
}
.wl-header-links__link--rating {
    background-image: url("../images/rating-icon.png");
}
.project_code{
    background-image: url("../images/rating-icon.png");
    /*background-image: url("../images/code.png");*/
    /*background-size: 20px;*/
}
/*wl-hero*/
.carousel-inner .item{
    text-align: center;
    background: #1f2c5d;
}
.carousel-inner .item img{
    display: inline;
    width: 100%;
}
.wl-hero-title {
    margin: 6px 0;
    font: 600 14px 'MicrosoftYaHei', sans-serif;
    padding: 10px 1px;
    color: #fff;
    width: 295px;
}
.wl-hero-back {
    background: no-repeat left center url("../images/back-icon.png");
    color: inherit;
    display: block;
    font-size: 24px;
    padding: 30px 0 30px 40px;
}
.wl-hero-back:hover,
.wl-hero-back:focus {
    color: inherit;
    text-decoration: none;
}
.wl-hero-button {
    height: 40px;
    width: 150px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 0;
    font: bold 16px 'MicrosoftYaHei', sans-serif;
    color: #02c39a;
    text-align: center;
    text-transform: uppercase;
    float: none;
    display: block;
    background-image: linear-gradient(to top, #ccfcff, #ffffff);
}
.wl-hero-button:focus {
    outline: 0;
}
@media only screen and (min-width: 768px) {
    .col-md-table-row {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .col-md-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
    .wl-layout-col {
        width: auto;
    }
    .wl-header-wrapper {
        height: 60px;
    }
    .wl-header-brand {
        margin-right: 22px;
    }
    .wl-header-brand__name {
        letter-spacing: 6px;
    }
    .wl-header-links__link,.project_code{
        background-position: left center;
        color: #fff;
        padding-left: 24px;
        height: auto;
        width: auto;
        font-size: 16px;
    }
    .wl-header-links__link + .wl-header-links__link {
        margin-left: 30px;
    }
    .wl-header-links__link--about {
        background-image: url('../images/about-icon-small.png');
    }
    .wl-header-links__link--services {
        background-image: url('../images/services-icon-small.svg');
    }
    .wl-header-links__link--rating {
        background-image: url('../images/rating-icon-small.png');
    }
    .project_code{
        background-image: url('../images/rating-icon-small.png');
        /*background-image: url("../images/code.png");*/
        /*background-size: 20px;*/
        margin-right: 30px;
    }
    .wl-header-links__link:hover,
    .wl-header-links__link:focus {
        color: inherit;
    }
    .wl-hero-title {
        margin: 10px 0;
        padding: 0;
    }
    .wl-hero-back {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .wl-footer-contacts {
        float: right;
    }
    .wl-footer-subscribe__form {
        margin-top: 10px;
        max-width: 410px;
    }
    .wl-footer-contacts__content {
        line-height: inherit;
    }
    .wl-projects {
        margin-left: auto;
        margin-right: auto;
    }
}
.ratingBtn{
    position: relative;
}
#modalButton{
    position: absolute;
    left: 6%;
    bottom: 17%;
    width: 110px;
    height:50px;
    cursor: pointer;
}
th{
    margin-top: 50px;
}
/*wl-content*/
.col-md-table-row{
    margin-top: 10px;
}
@media only screen and (min-width: 768px)
{
    .col-md-table-row {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
@media only screen and (min-width: 768px)
{
    .col-md-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}
@media only screen and (max-width: 768px)
{
    .wl-title {
        margin-left: 15px;
    }
}
.wl-title-main {
    color: #7f7f7f;
    font-size: 24px;
}
.wl-title-description {
    color: #999;
    font-size: 12px;
    line-height: 1.2;
}
/*content:主题内容区域*/
@media only screen and (min-width: 768px)
{
    .wl-projects {
        margin-left: auto;
        margin-right: auto;
    }
}
.wl-projects {
    margin-top: 15px;
}
@media only screen and (min-width: 768px)
{
    .wl-projects {
        margin-left: auto;
        margin-right: auto;
    }
}
/*search box*/
@media only screen and (min-width: 768px)
{
    .wl-project-tabs {
        float: right;
        text-align: right;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 768px)
{
    .wl-project-tabs {
        font-size: 0;
    }
    h2 {
        color: #727272;
        font: bold 13px 'RobotoBold', sans-serif;
        margin: 9px 0;
        text-transform: uppercase;
        font-weight: 500;
    }
}
.wl-project-tab:last-child {
    border-right: 1px solid #02c39a;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media only screen and (min-width: 768px)
{
    .wl-project-filter {
        padding-left: 15px;
        padding-right: 15px;
    }
    .select2-container{
        margin-left: 15px;
    }
}
.wl-project-filter {
    margin: 0;
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 2px 1px;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.select2-selection--single{
    width: 215px;
}
.select2-container--wl .select2-selection--single {
    background: #f7f7f7 no-repeat 10px center url("../images/searchImg.png");
    padding:0 0 0 25px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    user-select: none;
    border-radius: 2px;
    -webkit-user-select: none;
}
.select2-selection__placeholder{
    font: 400 14px 'Roboto', sans-serif;
    color: #d1d1d1;
    font-size: 14px;
    width: 100%;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    line-height: 32px;
    border: none;
}
.wl-project-tab.active {
    color: #ffffff;
    background-color: #02c39a;
}
.wl-project-tab:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wl-project-tab {
    border: 1px solid #02c39a;
    border-right: 0;
    cursor: pointer;
    font: 500 12px 'RobotoLight', sans-serif;
    display: inline-block;
    line-height: 42px;
    height: 42px;
    width: 25%;
    color: #02c39a;
    text-align: center;
    font-size: 14px;
}
@media only screen and (min-width: 768px)
{
    .wl-project-tab {
        width: 115px;
        height: 42px;
    }
}
@media only screen and (min-width: 768px)
{
    h2 {
        font: bold 20px 'RobotoBold', sans-serif;
        margin: 16px 0;
        text-transform: inherit;
        color: #727272;
        font-size: 17px;
    }
}
/*所有项目及搜索*/
.searchBox{
    background: #fff;
    padding: 5px 0;
    margin-left:0;
    margin-right: 0;
}
.allPros{
    float: left;
    margin-left: 15px;
    font-size: 16px;
    font-weight:bold;
    position: relative;;
    line-height: 40px;
}
.allPros span{
    margin-left: 10px;
}
.allProsSplit{
    width: 4px;
    background: #0476ed;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
.allPros,.wl-project-filter{
    display: inline-block;
}
.wl-project-filter{
    float: right;
    margin-right: -5px;
    margin-top: 3px;
}
.wl-projects{
    display: flex;
    margin-left: -15px;
}
@media only screen and (max-width:992px){
    .wl-projects{
        margin-right: -15px;
    }
}
@media only screen and (max-width:768px){
    .wl-project-filter{
        margin-right: 10px;
    }
}
.wl-projects-table {
    text-align: left;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 3px 33px 0 rgba(0, 0, 0, 0.05);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr:nth-child(even){
    background: #fbfbfb;
}
tbody tr:nth-child(odd){
    background: #fff;
}
tbody tr:hover{
    background: #f3f3f3;
    -webkit-transform: scale(1.005);     /* for Chrome || Safari */
    -moz-transform: scale(1.005);        /* for Firefox */
    -ms-transform: scale(1.005);         /* for IE */
    -o-transform: scale(1.005);          /* for Opera */
}
.wl-projects-table__head {
    background-color: #fbfbfb;
    color: #f6fafd;
    font: bold 10px 'RobotoBold', sans-serif;
    text-transform: uppercase;
}
.wl-projects-table__head .wl-projects-table__row {
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}
.wl-projects-table .wl-project-name,.wl-projects-table .wl-projects-table__name-info {
    width: 15%;
    text-align: left;
    white-space: nowrap;
 /*   overflow: hidden;
    text-overflow: ellipsis;*/
}
.wl-projects-table__head .wl-projects-table__name-info{
    padding-left:15px;
}
.wl-projects-table tbody td{
    padding: 12px 5px;
}
.js-sort-table_price{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wl-projects-table__head th {
    background: no-repeat center right 10px;
    padding: 10px 5px;
    color: #4d555d;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.wl-projects-table__head .hot_risk{
    width: 8%;
}
.wl-projects-table__head .depth{
    width: 10%;
}
.wl-projects-table__head .priceChange{
    width: 8%;
}
.wl-projects-table__head .projects_prices{
    text-align: left;
}
@media only screen and (min-width: 768px)
{
    .wl-projects-table__info {
        white-space: nowrap;
    }
}
.wl-projects-table__icon, .wl-projects-question__icon {
    content: '';
    background: no-repeat center right url("../images/about-icon-small.png");
    background-size: contain;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    top: -1px;
}
[class^='wl-projects-table__body'] {
    color: #556367;
    font-size: 12px;
}
.wl-projects-table__body td {
    padding: 10px;
    word-wrap: break-word;
}
.wl-project-name {
    background: no-repeat 10px center;
    background-size: 24px;
    color: #222;
    font:14px 'MicrosoftYaHei', sans-serif;
    padding-left: 45px !important;
}
.wl-projects-table__body1 .wl-project-date__value{
    font-family: "Microsoft YaHei",sans-serif;
    font-size: 13px;
    color:rgba(0,0,0,.9);
}
.wl-project-hypeScore {
    width: 10%;
}
.wl-project-hypeScore, .wl-project-riskScore,.wl-project-date,.wl-project-rating{
    font-size: 14px;
    text-align: center;
}
.wl-project-investScore{
    font-size: 14px;
    text-align: center;
    color:#6aa84f;
}
.wl-project-riskScore {
    width: 10%;
}
.wl-project-rating {
    font-weight: bold;
    line-height: 20px;
    width: 1%;
}
@media only screen and (min-width: 768px)
{
    .wl-project-date {
        font-size: 12px;
    }
}
.wl-project-date {
    width: 1%;
}
.wl-projects-table .wl-project-investScore .wl-project-wrapper {
    width: 100%;
    text-align: center;
}
.wl-project-investScore__value {
    display: inline-block;
    vertical-align: middle;
}
.wl-projects-table .wl-project-rating .wl-project-wrapper {
    width: 100%;
}
@media only screen and (min-width: 768px)
{
    .wl-project-investScore__score, .wl-project-rating__score {
        float: right;
        width: 0;
    }
}
.wl-project-rating__score {
    display: inline-block;
    position: relative;
}
.wl-project-whiteBook:hover{
    cursor: default;
}
.wl-project-rating .wl-project-wrapper {
    white-space: nowrap;
    height: 100%;
}
@media only screen and (min-width: 768px)
{
    .wl-project-rating__score:before {
        position: relative;
        right: 18px;
    }
}
.wl-project-rating__score:before {
    content: '';
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.wl-project-date__start, .wl-project-date__end {
    font: 500 12px 'RobotoBold', sans-serif;
    white-space: nowrap;
    text-align: left;
}
.wl-project-rating{
    font-size: 12px;
    text-align: center;
}
.wl-project-rating__value {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.wl-project-links {
    width: 12%;
    padding: 10px;
    cursor: default;
}
.wl-project-link {
    background: #d4d4d4 no-repeat center;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    position: relative;
    vertical-align: middle;
    float: left;
}
.wl-project-link:hover{
    transform: scale(1.2);
}
/*Partners*/
@media only screen and (min-width: 768px)
{
    .wl-links {
        padding: 20px 0 0;
    }
}
.wl-links-partners {
    margin-top: 20px;
    background: #fff;
    padding: 50px 0 0;
}
@media only screen and (min-width: 768px)
{
    .wl-links-title {
        line-height: 20px;
    }
}
.wl-links-title {
    border-bottom: 1px solid #e9e9e9;
    height: 12px;
    text-align: center;
}
@media only screen and (min-width: 768px)
{
    .wl-links-title__text {
        background-color: #fff;
        display: inline-block;
        font-size: 20px;
        padding: 0 10px;
    }
}
@media only screen and (min-width: 768px)
{
    .wl-links-row {
        padding: 20px 0 0;
    }
}
.wl-links-item {
    margin-top: 10px;
}
.wl-links-item img {
    margin-left: auto;
    margin-right: auto;
}
.wl-links-item {
    margin-top: 10px;
}
.wl-links-item__title {
    font-size: 11px;
    margin-top: 10px;
    text-align: center;
}
@media only screen and (min-width: 768px)
{
    .wl-links-item__title {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px){
    .wl-links-clients img {
        width: 100px;
    }
}
.wl-links-item img {
    margin-left: auto;
    margin-right: auto;
}
.wl-links-clients img {
    width: 60px;
}
/*press*/
.partner_bg{
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: center;
}
.partner_bg>img{
    width:90%;
}
.partner_bg>a{
    width: 25%;
    float: left;
    height:140px;
    position: absolute;
    top: 0;
}
.chaindc{
    left: 0;
}
.achain{
    left: 25%;
}
.ink{
    left: 50%;
}
.blockspace{
    left: 75%;
}
.wl-links-title__text {
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
    font-family: 'MicrosoftYaHei';
    font-weight: bold;
    color: #4d555d;
}
@media only screen and (min-width: 768px)
{
    .wl-links-row {
        padding: 20px 0 0;
    }
}
.wl-links-row {
    padding: 20px 0;
    text-align: center;
}
.wl-links-item {
    margin-top: 10px;
}
.wl-links-row>div {
    width: 20%;
    display: inline-block;
}
.wl-links-item img {
    margin-left: auto;
    margin-right: auto;
}
/*footer*/
.wl-footer{
    line-height: 80px;
    margin-top: -80px;
    background-color: #161616;
    color:#fff;
    font-family: 'MicrosoftYaHei';
    font-size: 12px;
}
.wl-footer-left{
    display: flex;
    justify-content: space-between;
}
.wl-footer-left div{
    display: block;
    height: 100%;
}
.wl-footer-left span{
    border-right: 1px solid #6c6c6c;
}
.wl-footer-right span{
    float: right;
}
.wl-footer-discuss,.wl-footer-notice,.wl-footer-email,.wl-footer-right span a{
    white-space: nowrap;
}
@media (max-width: 992px) {
    .wl-footer-left, .wl-footer-right {
        width: 100%;
    }
}
.wl-footer-rating,.wl-footer-about{
    cursor: pointer;
}
.wl-footer-about a{
    text-decoration: none;
    color:#fff;
}
.wl-footer-discuss a,.wl-footer-notice a{
    color: #fff;
}
.wl-footer-discuss a:hover,.wl-footer-notice a:hover{
    color:#23527c;
}
/*点击搜索的下拉框*/
.select_box{
    font-family: inherit;
    font-size: 12px;
    position: absolute;
    background: #fff;
    z-index: 9999;
    width: 215px;
    top:34px;
}
.search_options_box{
    display: block;
    outline: 1px solid #c9c9c9;
}
.search_input{
    width: 390px;
}
.search_input input{
    width: 100%;
    border: none;
    padding: 6px;
}
.search_input input:focus{
    outline: none;
}
.search_results{
    display: block;
    margin: 4px 4px 4px 0;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.select-results_options{
    margin: 0;
    padding: 0;
}
.select-results_option{
    border-top:1px solid #eee;
    cursor: pointer;
    padding:6px;
}
.search-result_item{
    display: table;
    width: 100%;
}
.search-result_item_logo,.search-result_item_text{
    display: table-cell;
    vertical-align: middle;
}
.search-result_item_logo{
    background: no-repeat top center;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.search-result_item_text{
    padding-left: 8px;
}
.search-result_item_text-name{
    font-weight: bold;
}
.search-result_item_text-category{
    color: #868686;
    font-size: 12px;
}
.select-results_option_bgColor{
    background: #f6fafd;
}
.searchFail{
    border-top: 1px solid rgba(0,0,0,.2);
    line-height: 30px;
    padding: 5px;
    word-spacing: 5px;
}
/*模态框*/
.modal-title{
    font-size: 30px;
}
.modal-title-subtitle{
    font-size: 14px;
    opacity: 0.8;
    padding-left: 4px;
}
.modal-body{
    background: #fff;
    padding: 15px 25px;
}
.modal_form {
    margin-top: -10px;
}
.modal_row {
    display: table;
    margin: 4px auto 0 auto;
    width: 100%;
}
.modal_label {
    color: #404040;
    font: 13px/28px 'Roboto-Medium', sans-serif;
}
.modal_input, .modal_textarea {
    background-color: #fff;
    border: 1px solid #666;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font: 12px 'Roboto-Medium', sans-serif;
    padding: 7px 10px;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal_required {
    color: #f88688;
    display: inline;
    padding: 0 0 0 3px;
}
.modal_required:before {
    content: '*';
}
.modal_textarea {
    resize: vertical;
}
.modal-footer{
    height: 36px;
    padding: 0;
    margin-top: 15px;
    border-top: none;
}
.modal-btn {
    background-color: #074c83;
    border: none;
    border-radius: 3px;
    color: #fff;
    font: bold 13px 'RobotoBold', sans-serif;
}
/* 分页样式 */
.pagination-nick{
    border-top:1px solid #eaeaea;
    text-align: right;
    background: #fff;
    height: 55px;
    font-size: 12px;
    position: relative;
    color:#b4b4b4;
}
.pagination-nick>div{
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
}
.btn-box-nick span,.btn-box-nick input{
    display: inline-block;
    margin:0 5px;
    cursor: pointer;
    border:1px solid #ccc;
    padding: 2px;
    width: 45px;
    text-align: center;
}
.btn-box-nick span:hover{
    background: #f3f3f3;
    color:#000;
}
.active-nick{
    background:#009cff !important;
    color:#fff;
}
.btn-box-nick div{
    display: inline-block;
}
.btn-box-nick div span{
    width: 20px;
    height: 20px;
    text-align: center;
    border:1px solid #ccc;
}
.btn-box-nick div span:hover{
    background: #f3f3f3 !important;
}
.btn-box-nick input{
    outline: none;
}
.btn-box-nick input::-webkit-input-placeholder{
    color:#b4b4b4;
    font-style: italic;
}
.btn-box-nick input:-moz-placeholder{
    color:#b4b4b4;
    font-style: italic;
}
.btn-box-nick input::-moz-placeholder{
    color:#b4b4b4;
    font-style: italic;
}
.btn-box-nick input:-ms-input-placeholder{
    color:#b4b4b4;
    font-style: italic;
}
/*专访和公告样式*/
.InterviewNotice{
    padding: 0;
}
.InterviewNotice>div{
    margin-bottom: 20px;
}
.proInterview,.proNotice{
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.interviewTitle,.noticeTitle{
    line-height:40px;
    padding: 4px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
}
.interviewSplit{
    display: inline-block;
    position: relative;
}
.interviewSplit span{
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}
.InterviewMore{
    color:#c1c1c1;
    cursor: pointer;
}
.interviewCon,.noticeCon{
    padding:15px;
}
.interviewCon ul,.noticeCon ul{
    padding-left: 0;
}
.interviewCon ul li{
    list-style-type: none;
    margin-bottom: 20px;
}
.interviewCon ul li p{
    font-size: 12px;
    color:gray;
    cursor: pointer;
}
.interviewCon ul li span{
    cursor: pointer;
}
.noticeCon ul li{
    list-style-type: none;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.interviewCon ul li img{
    width: 100%;
    cursor:pointer;
}
.interviewCon ul li span{
    display:block;
    margin: 10px 0;
    font-weight: bold;
}
.noticeTitle .interviewSplit .allProsSplit{
    background: #f59720;
}
/*专访和公告的响应式*/
@media only screen and (max-width:992px){
    .InterviewNotice{
        display: block;
        margin-top: 20px;
    }
    .interviewCon ul li{
        vertical-align:top;
        margin-right: 5px;
        margin-left:5px;
        flex:1;
    }
}
/*手机响应式*/
@media only screen and (max-width: 992px){
    .interFather2 li:nth-child(odd){
        margin-right: 10% !important;
    }
    .interFather2 li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}
@media only screen and (max-width: 768px) {
    .wl-projects-table__name-info.js-sort-table{
        text-align: left !important;
    }
    .wl-project-filter {
        margin-right: 10px !important;
    }
    .btn-box-nick span, .btn-box-nick input{
        margin: 0px 3px !important;
    }
    .wl-projects-table__head th{
        text-align: center !important;
        width: 25% !important;
    }
    .wl-footer-left {
        display: block !important;
    }
    .wl-footer{
        line-height: 40px !important;
    }
    .wl-footer .container .row{
        margin: 0 !important;
    }
    .partner_bg>a{
        height: 100% !important;
    }
    .wl-links-partners{
        margin-top: 0 !important;
        padding: 20px 0 0 !important;
    }
    .wl-links-title{
        border-bottom: none !important;
    }
    .interFather2 li{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .interFather2 li:nth-child(odd){
        margin-right: 10% !important;
    }
    .wl-projects-table__head .projects_prices{
        text-align: center !important;
    }
    .wl-project-wrapper{
        text-align: center !important;
    }
    .wl-project-date__value{
        text-align: left !important;
    }
    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}